html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  width: 100vdw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  background-color: #fcf5e2;
}

.banner {
  width: 40%;
  height: 100%;
  background-image: url(./imgs/iza-gawrych-tIXpabtgHz4-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  color: #eee;
  font-size: 1.5rem;
}

.banner a {
  color: #eee;
}

@font-face {
  font-family: norseBold;
  src: url(./fonts/Norse-Bold.otf);
}

.banner--logo {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20rem;
  background-color: #1d120a;
  opacity: 0.6;
  font-size: 10rem;
  font-family: norseBold, serif;
}

.banner--logo img {
  width: 120px;
  height: auto;
}

.banner--para {
  margin-top: auto;
}

.form {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
}
